
<html>
<body>
    
    <form action='/quotes' method='post'>
    	<h1>Welcome to Quoting Dojo</h1>
	    Your Name: <input type='text' name='name'><br><br>
	    Your Quote: <input type='text' name='quote'><br><br>
	    <input type='submit' value='Add my quote!'>
	</form>
	<a href="/quotes"><button>Skip to quotes</button></a>
</body>
</html>